name: Deploy to Droplet
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git Clone Repository
        uses: actions/checkout@v2
      - name: Login To Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker build --file Dockerfile -tag kazimovzaman2/agileflow-landing:latest .
      - name: Push Docker Image
        run: docker push kazimovzaman2/agileflow-landing:latest
